.img-full-screen {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  &.main-bg {
    background-image: url('../images/bg_trees_1_web.jpg');
  }

  &.blog-bg {
    background-image: url('../images/blog_mountains_1_web.jpg');
  }
}

.read-more-link {
  @apply
    mr-5
    transition
    duration-200
    ease-in
    transform hover:translate-x-1
}
