/* Example custom style */
.red-text {
  color: red;
}

/* Responsive bg image example */
.img-full-screen {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  &.main-bg {
    background-image: url('../images/bg_trees_1_web.jpg');
  }

  &.blog-bg {
    background-image: url('../images/blog_mountains_1_web.jpg');
  }
}

.nav-item {
  @apply
    px-2
    m-2
    border-black
    border-t-2
    border-b-2
    border-opacity-0;
  
  @apply
    transition
    duration-200
    ease-in
    hover:border-opacity-100
    transform
    hover:scale-110;

  &.active {
    @apply
      border-opacity-100
      scale-110;
  }
}

.read-more-link {
  @apply
    mr-5
    transition
    duration-200
    ease-in
    transform hover:translate-x-1
}

.post-header {
  h1 {
    @apply
      text-xl
      font-semibold
      uppercase
  }
}

.post-excerpt {
  h1 {
    @apply
      text-xl
      font-semibold
      uppercase
  }

  h2 {
    @apply
      text-base
      font-semibold
      uppercase
  }

  p {
    @apply
      mt-5
  }

  a {
    @apply
      underline
      text-gray-700
  }
}

.post {
  h1 {
    @apply
      text-xl
      font-semibold
      uppercase
      mb-5
  }

  h2 {
    @apply
      text-base
      font-semibold
      uppercase
  }

  p {
    @apply
      mt-5
      mb-5
  }

  a {
    @apply
      underline
      text-gray-700
  }
}