.img-full-screen {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  &.main-bg {
    background-image: url('../images/bg_trees_1_web.jpg');
  }

  &.blog-bg {
    background-image: url('../images/blog_mountains_1_web.jpg');
  }
}

.main-container {
  @apply
    container
    mx-auto
    min-h-screen
}

.content-container {
  @apply
    flex
    flex-col
    justify-center
    items-center
}

.content {
  @apply
    mt-24
    mb-24
}