.current {
  color: green;
}

body {
  background-image: url('../images/blog_mountains_1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}