<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css"></link>
  </head>
  <body>
    <div class="main-bg-image">
      <div class="fixed top-0">
        <div class="
                flex
                flex-row
                justify-center
                w-screen
                mb-10
                bg-gray-50
                h-16">
          {% include navigation.html %}
        </div>
        <div class="
                absolute
                top-16
                h-8
                w-screen
                bg-gradient-to-b
                from-gray-50
              ">
        </div>
      </div>
      <div class="container mx-auto">
        {{ content }}
      </div>
    </div>
    <div class="fixed bottom-0">
      <div class="
              absolute
              bottom-16
              h-8
              w-screen
              bg-gradient-to-t
              from-black
            ">
      </div>
      <div class="absolute bottom-0 h-16 w-screen bg-black"></div>
    </div>
  </body>
</html>